@model IEnumerable<TuffyHealthNew.Models.Appointments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: 3px solid black;
    }
</style>

<h1>My Appointments</h1>

<img class="appointmentImg" src="img/appointment.png" alt="appointment" width="500" align="right">

<table class="appointmentTable" height="50%" width="50%" align=center cellpadding="10">
    <thead>
        <tr style="background-color:#C0C0C0;color:#000000;">
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model) {
        <tr>
            <td style="background-color:#ffffff;">
                 @Html.DisplayFor(modelItem => item.Doctor)
            </td>
                <td style="background-color:#ffffff">
                @Html.DisplayFor(modelItem => item.Appointment_date)
            </td>
                <td style="background-color:#ffffff">
                @Html.DisplayFor(modelItem => item.Time)
            </td>
           
        </tr>
}
    </tbody>
</table>

